<div>
<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>NAME</th>
      <th>DESCRIPTION</th>
        <th>PRICE</th>
          <th>CREATED_DATE</th>
          <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of info ; let i = index">
      
        <td>{{i+1}}</td>
      <td >{{a._id}}</td>
      <td >{{a.name}}</td>
      <td >{{a.desc}}</td>
      <td >{{a.price}}</td>
      <td >{{a.created_date}}</td>
           <span (click)="onEdit(a)" style=" padding:20px" class="glyphicon glyphicon-pencil"></span>
        <span (click)="deleteData(a._id)" class="glyphicon glyphicon-trash"></span>
    </tr>
  </tbody>
</table>

</div>
<div style="width:500px" class="container">
    <h2> Data</h2>
    <form #userForm="ngForm"  >
       
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="data.name">
          
 
       </div>
        
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="desc" [(ngModel)]="data.desc">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" name="price" [(ngModel)]="data.price">
            </div>
           
           

<button  (click)="onSubmit(userForm.value ) ; userForm.reset()" class="btn btn-primary">Send data</button>
            
<button  (click)="onUpdate(userForm.value )" class="btn btn-primary">update data</button>
      

        
    </form>


</div>