

 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Login App</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a *ngIf="!_authService.isLogin" routerLink="/login" routerLinkActive="active">Login</a></li>
  <li><a *ngIf="!_authService.isLogin" routerLink="/signup" routerLinkActive="active">SignUp</a></li>
  <li><a *ngIf="_authService.isLogin" (click)="userLogout();" href="javascript:;" routerLinkActive="active">Logout</a></li>
      </ul>
    </div>
  </nav>
